:root{
    --animation-name: drive;
    --fueled-ani: null;
    --carBorder-color: black;
    --animation-time: 1s;
    --ani-count: infinite;
    --rotateTo-mouse: 0deg;
}

*{
    padding: 0;
}

body{
    background-color: gray;
}

.game-window{
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    margin-top: 30vh;
    position: relative;
    background: linear-gradient(rgb(62, 145, 254), rgb(130, 211, 255));
    overflow: hidden;
    box-sizing: border-box;
}

#score{
    margin-left: 30px;
    color: white;
}

.prop{
    position: absolute;
}

#car{
    top: 232px;
    animation-name: var(--animation-name);
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.body{
    width:50px;
    height: 10px;
    z-index: 0;
    border: 2px solid var(--carBorder-color);
    animation-name: var(--fueled-ani);
    animation-duration: var(--animation-time);
    animation-iteration-count: var(--ani-count);
}

#car:hover{
    --carBorder-color: white;
}
.roof:hover{
    --carBorder-color: white;
}

.roof{
    width: 30px;
    height: 10px;
    position: relative;
    top: -24px;
    left: 7px;
    border: 2px solid var(--carBorder-color);
    border-bottom: none;
    z-index: 0;
    animation-name: var(--fueled-ani);
    animation-duration: var(--animation-time);
    animation-iteration-count: var(--ani-count);
}

.front-wheels, .rear-wheels{
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--carBorder-color);
    top: 5px;
    position: absolute;
    animation-name: var(--fueled-ani);
    animation-duration: var(--animation-time);
    animation-iteration-count: var(--ani-count);
}

.front-wheels{
    left: 36px;
}

.rear-wheels{
    left: 3px;
}

@keyframes fueled{
    0% {border-color: black;}
    50%{border-color:rgb(247, 254, 64)}
    100% {border-color: black;}
}

@keyframes drive{
    from {
        left: -100px;
    }
    to{
        left: 200px;
    }
}

@keyframes driveAway {
    from {
        left: 200px;
    }

    to {
        left: 800px;
    }
}


#station{
    background-color: blue;
    width: 50px;
    height: 50px;
    top: 200px;
    left: 30%;
}
#weapon{
    width: 100px;
    height: 5px;
    background-color: yellow;
    position: relative;
    top: 20px;
    transform: rotate(var(--rotateTo-mouse));
    display: none;
}

#ground{
    top: 250px;
    border-top: 2px solid rgb(0, 135, 43);
    background: linear-gradient(rgb(62, 254, 72), rgb(1, 99, 16));;
    width: 100%;
    height: 50px;
}
